h1 {
  padding: 5px 70px 10px 5px;
  color: beige; }

.encabezado {
  background-color: #bbb7b7; }

nav {
  background-color: #d61a1a; }
  nav ul li {
    padding: 10px 25px 10px 10px; }
    nav ul li a:hover {
      text-decoration: underline;
      font-size: 17px; }

.img1 {
  height: 480px;
  width: 320px;
  object-fit: cover; }

.menu_footer li {
  list-style: none;
  margin-left: -30px; }
  .menu_footer li a {
    color: black;
    text-decoration: none;
    font-size: 13px; }

.menu_footer2 {
  display: flex;
  flex-direction: row; }
  .menu_footer2 li {
    list-style: none;
    padding: 10px 10px 10px 0px; }

.img2 {
  height: 480px;
  width: 320px;
  object-fit: cover; }

@media (max-width: 770px) {
  .img3 {
    height: 220px;
    width: 420px; } }

@media (max-width: 1400px) {
  .img_estadio {
    height: 720px;
    width: 860px; } }

.img_trofeo {
  height: 360px;
  width: 290px;
  object-fit: cover; }
